PORT=5000
MONGO_URI=mongodb://lifestyle-optimizer:Avikkulavi2005@ac-jwsfhkw-shard-00-00.wkd3j3a.mongodb.net:27017,ac-jwsfhkw-shard-00-01.wkd3j3a.mongodb.net:27017,ac-jwsfhkw-shard-00-02.wkd3j3a.mongodb.net:27017/?ssl=true&replicaSet=atlas-4q9yc1-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=8f2e7b9c4a1d5f6e8a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f
CLIENT_URL=http://localhost:5173
